@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    position: relative;
    background: linear-gradient(120deg,white, white 62%, blue 62%, blue 100%);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .logo img{
    max-width: 70px;
    max-height: 70px;
    margin-right: 20px;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
header ul li a:hover,
header ul li a.active{
    color: blue;
}
.app{
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.app:hover{
    background: green;
    color: white;
}
.app ion-icon{
    margin-right: 10px;
    font-size: 1.4rem;
}
.contentBX{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentBX .text{
    max-width: 700px;
}
.contentBX .text h2{
    font-size: 4rem;
    color: blue;
}
.contentBX .text p{
    font-size: 1.1rem;
    color: black;
    line-height: 1.8rem;
}
.contentBX .text h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: black;
}
.btn{
    background: blue;
    color: wheat;
    display: inline-flex;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1rem;
    margin: 5px 20px 5px 0;
    border-radius: 5px;
}
.btn:hover{
    background: green;
    color: white;
}
.btn ion-icon{
    margin-right: 10px;
    font-size: 1.4rem;
}
.imgBx img{
    margin-left: 50px;
    margin-right: 100px;
    max-width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
}
.imgBx img.active{
    display: block;
}
.dots{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    right: 80px;
}
.dots .dot{
    position: relative;
    width: 10px;
    margin: 5px;
    cursor: pointer;
    height: 30px;
    background: rgba(255, 255, 255, 0.25);
    display: inline-flex;
}
.dots .dot.active{
    background: white;
}
.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 20px;
}
.sci li a{
    font-size: 1.8rem;
    color: blue;
}
.sci li a:hover{
    color: green;
}


/*Now*/
@media(max-width:999px){
    header{
        padding: 30px;
        justify-content: space-between;
    }
    .main{
        padding: 30px;
        background: white;
    }
    .app{
        display: none;
    }
    .contentBX{
        flex-direction: column-reverse;
        margin: 100px 0;
    }
    .imgBx img{
        margin: 0;
    }
    .dots{
        position: relative;
        top: initial;
        transform: none;
        right: initial;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .dots .dot{
        width: 25px;
        height: 10px;
        background: blue;
        opacity: 0.2;
    }
    .dots .dot.dot.active{
        opacity: 1;
        background: blue;
    }
    .contentBX .text{
        text-align: center;
    }
    .contentBX .text h2{
        font-size: 3rem;
    }
    .sci{
        position: absolute;
        bottom: 30px;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
}